.Nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 100px;
}

.Nav .title{
    font-size: 20px;
    font-weight: bold;
}

.Nav .list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Nav .list li{
    margin: 0 5px;
    padding: 0 20px;
}

.Nav .list .current{
    color: #f86400;
}